{% extends 'base.html.twig' %}

{% block title %}ProductController!{% endblock %}

{% block banner %}
    <div class="d-flex justify-content-center align-items-center p-3" role="alert">
        <a class="nav-link" href="{{ path('app_shopping_cart_checkout') }}">
            <i class="fa fa-shopping-basket  fa-2x" aria-hidden="true"></i>
            <span>click here for basket check out</span>
        </a>
    </div>
{% endblock %}

{% block body %}

<div class="container">

    <hr>
    {{ form_start(form, {
        'attr': {
            'novalidate': 'novalidate',
             'class': 'needs-validation',
              'data-turbo': 'false',
              'action': path('app_product', {'page' : 1})  
            }}) 
        }}
    <!-- Form Row 1 -->
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.search, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-4">
            <input type="submit" class="btn btn-primary" value="Search">
        </div>
    </div>            

    {{ form_end(form) }}        

    <hr>

    {% for product in pagination %}
    <div class="row">
        <div class="col-4 col-md-4 col-sm-6">
            {% include '/component/image/product.html.twig' with {'product': product, 'imageHeight' : '350px'} %}
        </div>
        <div class="col-8 col-md-8 col-sm-6">
            
            <div class="card" style="height: 350px; width: auto;" >
                <div class="card-header text-body"><h3>{{ product.name }}</h3></div>
                <div class="card-body">
                    <div> 
                        <b>
                            Price: {% include '/component/match/price.html.twig' with {'price': product.price} %} | 
                            InCart: {% include '/component/match/quantity.html.twig' with {'product': product, 'cart' : cart} %}  |
                            Total Amount : {% include '/component/match/total_amount.html.twig' with {'product': product, 'cart' : cart} %}  
                        </b> 
                    </div>
                    <br>
                    <p>
                        {% include '/component/string/description.html.twig' with {'string': product.description, 'limit' : 500} %} 
                    </p>
                </div>
                <div class="card-footer">
                    <p class="justify-content-between">
                        <a class="btn btn-primary" href="{{ path('app_product_view', { 'id': product.id }) }}" role="button">View Details</a>
                        <button type="button" class="btn btn-success cart-add" id="{{ product.id }}">Add to Basket</button>
                        <span id="{{ product.id }}-message" ></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}

    {% include '/component/pagination.html.twig'%}
</div>

{% endblock %}
