{% extends 'base.html.twig' %}

{% block title %}Cart Check Out{% endblock %}

{% block body %}

<div class="container">

    {% if products|length > 0 %}

    {% set totalAmount = 0 %}

    <div class="row">
        <div class="col-8 col-md-8 col-sm-6">

            {% for product in products %}

            {% set totalAmount = totalAmount + ((cart[product.id] * product.price) / 100) %}
            
            <div class="row align-items-center mb-4 shadow-sm p-3 bg-white rounded">
                <!-- Product Image -->
                <div class="col-4 col-md-4 col-sm-6">
                    <img src="{{ asset('build/images/product/' ~ product.image) }}" alt="Product Image" 
                         class="img-fluid rounded" style="height: 200px; width: auto; object-fit: cover;">
                </div>
            
                <!-- Product Details -->
                <div class="col-8 col-md-8 col-sm-6">
                    <h5 class="text-primary m-0" >
                        <a  href="{{ path('app_product_view', { 'id': product.id }) }}" style="text-decoration: none;"> 
                            {{ product.name }} 
                        </a>
                    </h5>
                    <hr>
                    <div class="card border-0">
                        <div class="card-body py-2 px-0">
                            <!-- Price and Total Amount -->
                            <p class="mb-2"><strong>Price:</strong> £ {{ product.price/100 | number_format(2) }}</p>
                            <p class="mb-3"><strong>Total Amount:</strong> £ <span id="{{ product.id }}-total-amount">
                                {{ (cart[product.id] * product.price) / 100 | number_format(2) }}
                                </span>
                            </p>
            
                            <!-- Quantity Controls -->
                            <div class="btn-group" role="group" aria-label="Quantity Controls">
                                <button type="button" id="{{ product.id }}" class="btn btn-sm btn-outline-primary cart-minute"> - </button>
                                <button type="button" class="btn btn-sm btn-outline-danger disabled"> 
                                    <span id="{{ product.id }}-quantity">
                                        {{ cart[product.id] }}
                                    </span>
                                </button>
                                <button type="button" id="{{ product.id }}" class="btn btn-sm btn-outline-primary cart-add"> + </button>
                            </div>
                        </div>
                        <div class="card-footer bg-transparent border-top-0 p-0 mt-2">
                            <span id="{{ product.id }}-message" class="text-danger small"></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}

        </div>

        <div class="col-12 col-md-4">
            <!-- Total Amount Card -->
            <div class="card shadow-sm mb-4">
                <div class="card-header bg-primary text-white text-center">
                    <h5>Total Amount: £ <span id="cart-total-amount">{{ totalAmount }}</span></h5>
                </div>
                <div class="card-body">
                    <!-- Form -->
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_end(form) }}
        
                    <!-- Clear Form Button -->
                    <a class="btn btn-warning btn-block mt-3" href="{{ path('app_shopping_cart_checkout') }}" role="button">
                        Clear Form
                    </a>
                </div>
            </div>
        
            <!-- Delete All Items Card -->
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <a class="btn btn-danger btn-block" href="{{ path('app_shopping_cart_all_items_delete') }}" role="button">
                        Delete All Items in Shopping Cart
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

{% else %}
<hr>
<div class="row">
    <h2 class="text-center orange">There is no item in shopping cart !</h2>
</div>
{% endif %}

{% endblock %}
