<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>

    <body>

        <nav class="navbar navbar-expand-sm navbar-light bg-light">

            <a class="navbar-brand" href="{{ path('app_index') }}">
                <img src="{{ asset('build/images/loadberry.jpg') }}" class="logo-image" alt="LoadBerry">
                <span class="blue-black">Loadberry</span>
            </a>

            <ul class="navbar-nav ml-auto ms-auto">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" title="panel" href="{{ path('app_shopping_cart_checkout') }}">
                            <i class="fa fa-shopping-basket fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" title="panel" href="">
                            <i class="fa fa-cogs fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" title="logout({{ app.user.email }})" href="{{ path('app_logout') }}">
                            <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" title="register" href="{{ path('app_register') }}">
                            <i class="fa fa-registered fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" title="login" href="{{ path('app_login') }}">
                            <i class="fa fa-sign-in fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                {% endif %}

            </ul>

        </nav>

        <div>
            {% block banner %}
            <div class="d-flex justify-content-center align-items-center p-3" role="alert">
                <a class="nav-link" href="{{ path('app_product') }}">
                    <i class="fa fa-hand-pointer-o  fa-2x" aria-hidden="true"></i>
                    <span>click here for our products</span>
                </a>
            </div>
            {% endblock %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
