{% extends 'base.html.twig' %}

{% block title %}Admin Order Update{% endblock %}

{% block body %}

{% set totalAmount = 0 %}
{% set totalItems = 0 %}
{% for productOrder in order.productOrders %}
    {% set totalAmount = totalAmount + (productOrder.quantity * productOrder.product.price) / 100 | number_format(2) %}
    {% set totalItems = totalItems + productOrder.quantity %}
{% endfor %}

<div class='container'>
    <div class="row">
        {% include '/component/message/success.html.twig' with {'key': 'admin-order-update-success'} %}
    </div>
    <div class="row">
        {{ form_errors(form) }}
    </div>

        
        <div class="card row" >
            <div class="card-header text-body">
                <h5> Admin Order Update</h5>
            </div>
            <div class="card-body row">

                <div class="col-8 col-md-8 col-sm-8">
                    {% for productOrder in productOrders %}
                 
                    <div class="row ">
                        <!-- Product Image -->
                        <div class="col-4 col-md-4 col-sm-6">
                            {% include '/component/image/product.html.twig' with {'product': productOrder.product, 'imageHeight' : '200px'} %}
                        </div>
                    
                        <!-- Product Details -->
                        <div class="col-8 col-md-8 col-sm-8">

                            <div class="card" >
                                <div class="card-header text-body">
                                    <a  href="{{ path('app_product_view', { 'id': productOrder.product.id }) }}" style="text-decoration: none;"> 
                                        {{ productOrder.product.name }} 
                                    </a>
                                </div>
                                <div class="card-body p-3">
                                    <p class="mb-2"><strong>Price:</strong>  {% include '/component/match/price.html.twig' with {'price': productOrder.product.price} %}</p>
                                    <p class="mb-2"><strong>Quantity:</strong> 
                                        {{ productOrder.Quantity}}  <a  href="{{ path('app_admin_product_order_update', { 'id' : productOrder.id })}}" style="text-decoration: none;"> (quantity update) </a>
                                    </p>
                                    <p class="mb-2"><strong>Total Amount:</strong> £ {{ (productOrder.product.price/100 * productOrder.Quantity) | number_format(2) }}</p>
                                </div>
                            </div>
                        </div>           
                    </div>
                    <hr>
                    {% endfor %}
                </div>

                <div class="col-4 col-md-4 col-sm-4">
                    <h6 class="text-muted">Order Details</h6>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>UUID:</strong> {{ order.uuid }}
                        </li>
                        <li class="list-group-item">
                            <strong>Order By:</strong> {{ order.OrderBy.email }}
                        </li>
                        <li class="list-group-item">
                            <strong>Total Itams:</strong> {{ totalItems }}
                        </li>
                        <li class="list-group-item">
                            <strong>Total Amount:</strong> £ {{ totalAmount }}
                        </li>
                        <li class="list-group-item">
                            <strong>Ordered At:</strong> {{ order.createdAt | date("d M Y (H:i:s)") }}
                        </li>
                        <li class="list-group-item">
                            <strong>Updated At:</strong> {{ order.updatedAt | date("d M Y (H:i:s)") }}
                        </li>
                    </ul>
                    <br>
                    <div class="card" style="height: auto; width: auto;" >
                        <div class="card-header bg-primary text-white text-center">
                            <h5>
                                Order Update From
                            </h5>
                        </div>
                        <div class="card-body">
                            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <hr>
</div>

{% endblock %}
